.profile-heading {
  background-color: #333333;
  padding: 30px;
}

.profile-heading-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
}

.profile-heading-content {
  color: #ffffff;
  font-size: 25px;
  margin-top: 10px;
}

.profile-button {
  padding: 2px;
}

.profile-btn {
  font-size: 13px;
}

.image-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.info {
  margin: 0 1.5rem 0 .3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.info a {
  color: #5cb85c;
  font-weight: bold;

}

.info .date {
  color: #bbb;
  font-size: .8rem !important;
  display: block;
}

.image-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.main-content {
  text-align: left;
  margin-top: 20px;
  margin-left: 48px;
}
