<div style="text-align:left">
  <div class="profile-heading">
    <div class="col-8">
      <span>
        <h1 class="profile-heading-title">{{description}}</h1>
      </span>
      <img src="{{img}}" class="image-icon">
      <div class="info">
        <a class="card-name">{{username}}</a><br />
        <small class="date">{{date | date}}</small>
      </div>
      <div class="profile-heading-content">
        <button type="button" class="btn btn-outline-secondary profile-button">
          <span class="profile-btn">Edit Article</span>
        </button>
        <button type="button" class="btn btn-outline-danger profile-button" style="margin-left:10px;">
          <span class="profile-btn"> Delete Article</span>
        </button>
      </div>
    </div>
  </div>
  <div class="main-content">
    <h4>{{description}}</h4>
  </div>
</div>
<div class="container col-6">
  <div class="form-group" style="margin-top:10px;">
    <textarea #name class="form-control" rows="4" placeholder="Write a comment" name="comment" ></textarea>
    <div class="card-footer">
      <button type="button" class="btn btn-success" (click)=postComment(name)>Post Comments</button>
    </div>
  </div>
  <app-article-comment [articleComments] = "userComments"></app-article-comment>
</div>
