<div style="text-align:left">
  <div class="profile-heading">
    <div class="col-8">
      <span>
        <h1 class="profile-heading-title">conduit</h1>
      </span>
      <div>
        <span class="profile-heading-content">
          <button type="button" class="btn btn-outline-secondary profile-button">
            <span class="profile-btn">Edit Article</span>
          </button>
          <button type="button" class="btn btn-outline-danger profile-button">
            <span class="profile-btn"> Delete Article</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
