<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="color:#5CB85C;">conduit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav pull-xs-right" style="display:inherit">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" style="cursor:pointer">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" style="cursor:pointer">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" (click)=logout()>Logout</a>
      </li>
    </ul>
  </div>
</nav>
