<div style="text-align:center">
  <div class="main-heading">
    <span>
      <img src="{{imgsrc}}" class="main-heading-image">
    </span>
    <div>
      <span class="main-heading-content">{{username}}</span>
    </div>
    <div>
      <span class="sub-heading-content">{{bio}}</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer">My Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer">Favourite Articles</a>
        </li>
      </ul>
      <app-card [cardItems]=userFeeds></app-card>
    </div>
  </div>
</div>
