<div style="text-align:center">
  <div class="main-heading">
    <span>
      <h1 class="main-heading-title">conduit</h1>
    </span>
    <div>
      <span class="main-heading-content">A place to share your knowledge</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link">Your Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Global Feed</a>
        </li>
        <li class="nav-item">
          <app-tagfeeds></app-tagfeeds>
        </li>
      </ul>
      <app-card [cardItems]=itemFeeds></app-card>
    </div>
    <div class="col-6">
      <app-tags [cardItems]=itemTags></app-tags>
    </div>
  </div>
  <app-list [articleCount]=itemPages (listNumberclick)=clickonList($event)></app-list>
</div>
